*{
    margin: 0%;
    padding:0%;
    border: border-box;
    font-style:arial;
}
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{

    

    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ),url(first.jpg);
    background-size: cover;
    height:700px ;
    width: 100%;
}
.logo{
    background-image: url("rm.png");
    background-size: cover;
    height:80px;
    width: 17%;
    margin-left: 60px;
    
}
.nev{
    margin-right: 30px;
    margin-left: 60px;

}
.eng{
    width: 130px;
    height: 32px;
color: white;
font-weight: 600;
font-size: 16px;
    background-color: transparent;
    border: 1.5px solid white;
    margin-right: 10px;
    border-radius: 4px;
}
.sig{
    width: 80px;
    height: 32px;
    background-color: rgb(229,9, 20);
    color: white;
    border-radius: 4px;
    border: none;
    
}
.main{
    
    text-align: center;
    color: white;
    margin-top: 12%;
   
}
.first{
    font-size: 48px;
  height: 110px;
  width: 800px;
  margin-left: 19%;
  font-weight: 700;


}
.second{
   
    font-size: 30px;
    font-weight: 400;
    height:30px;
    width: 1000px;
    margin-left: 15%;
    margin-top: 16px;

}
.third{
    width: 1000px;
    height: 30px;
    font-size: 20px;
   margin-left: 13%;
   margin-top:16px ;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 167px 0px;
    margin-top: 10px;
}
.address{
    width: 370px;
    height: 56px;
    color: gray;
    border:2 px solid rgb(49, 46, 46);
    margin-top: 25px;
    background-color: transparent;
    font-weight: 600;
    font-size: 19px;
    border-radius: 4px;
    
}
.button{
    background-color: rgb(229,9, 20); 
    font-weight: 700;
    width: 200px;
    height: 56px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 4px;
    margin-top: 25px;

}
.main-section{
border: 2px solid rgb(49, 46, 46);
    height: 500px;
    background-color:black;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.section-first{
    font-size: 48px;
    width: 500px;
    height: 60px;

    
}
.section-second{
width: 490px;
height: 90px;
    font-size: 24px;
}
.image{
    
   
    background-size: cover;
    width: 500px;
    height:370px;
 
}


.section-secon{
width: 490px;
height: 90px;
    font-size: 24px;
    margin-top: 55px;
}
.foot{
    background-color: black;
    height: 650px;
}
h1{
    text-align: center;
    font-size: 48px;
    font-weight: 300;
   color: white;
}
    
  
.question button{
    background-color: rgb(53, 52, 52);
    color: white;
display: block;
    text-align:start;
    margin-left: 16%;
    height: 60px;
    width: 70%;
    font-size: 25px;
    margin-top: 15px;
}   
.question h3{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    color: white;
}
.foot1{
    text-align: center;
    margin-top: 30px;
    color: white;
}
.es{
    
    height: 56px;
    width: 370px;
    border: none;
    background-color: rgb(17, 16, 16);
    font-size: 18px;
    border-radius: 4px;
    
border: 1px solid rgb(49, 46, 46);
}
.foot1 button{
    background-color:rgb(229,9, 20); 
    color: white;
    height: 56px;
    width: 220px;
    border: none;
    font-size: 20px;
    margin-left: 12px;
    font-weight: 500;
    
    border-radius: 4px;
}
.footer1{
    height: 500px;
    background-color: black;
    border: 2px solid rgb(49, 46, 46);
    color: gray;
    display: flex;
    justify-content: space-evenly
   
}



ul a{
    display:block;
    font-size: 14px;
    margin-top: 15px;
    
    text-decoration: underline;   
    
}
ul{
    margin-top: 10%;

    
        

    
    
}


ul button{
    margin-top: 20px;
    height: 32px;
    width: 126px;
    border-radius: 4px;
    border:1px solid white;
    background-color: rgb(49, 46, 46);
    color:white;
    font-size: 18px;
    font-weight: 400;
}
ul p{
    margin-top: 15px;
    font-size: 14px;
    color: gray;
}
ul h3 {
    

}